numpy
pandas
opencv-python
scipy
scikit-image
matplotlib
scikit-learn
seaborn
tqdm
fastapi
uvicorn[standard]
python-multipart
python-dotenv
msgpack

# torch
torch
torchvision
torchaudio

# whisper
openai-whisper
faster-whisper
pysbd
kss
rapidfuzz
soundfile
librosa

#redis
redis[hiredis]

# logging
loguru
rich

# jwt
pyjwt[crypto]

# gemini
google-generativeai

# Silero VAD
silero-vad

# pyannote
pyannote.audio